################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RestaurantReviews/RestaurantReviews.WebApp/Properties/ServiceDependencies/2107-earles-restaurantreviews - Web Deploy
/RestaurantReviews/RestaurantReviews.WebApp/RestaurantReviews.WebApp.csproj
