@model IEnumerable<RestaurantReviews.Domain.Restaurant>

@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restaurant Reviews</h1>
</div>


<div><a asp-action="Restaurant" >Restaurants</a></div>
<div><a asp-action="Index" asp-route-texttoprint="hello">link 2</a></div>

@* every time you access something in tempdata using the indexing operator [],
    that key-value pair is marked for being deleted at the end of this request. *@
@* use methods Keep and Peek to explicitly keep the data around longer. *@

<table>
    <thead>
        <tr>
            <th>Restaurant text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Name</td>
        </tr>
    }
    </tbody>
</table>
