@model IEnumerable<RestaurantReviews.Domain.Restaurant>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restaurant Reviews</h1>
</div>




@* every time you access something in tempdata using the indexing operator [],
    that key-value pair is marked for being deleted at the end of this request. *@
@* use methods Keep and Peek to explicitly keep the data around longer. *@

<table>
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
